.menu{
 background : url(home.png);
 margin-top : -30px;
 margin-bot : 0px;
 background-size:100% 100%;
 padding-top : 70px ;
 padding-bottom : 95px ;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 1030;
 margin-bottom: 0;
 border-bottom : #fff solid 1px;
 
}
